body {
  background-color: #EAF6F6;
  text-align: center;
  font-family: 'Merriweather', serif;
}

button {
  height: 20px;
  width: 60px;
}

/* the parent of h1 is body */

h1, h3 {
  color: #66BFBF;
}

/* 100% in font-size is 16px */

/* 1em === M === 16px = 100% */

h1 {
  font-size: 6.625rem;  /* dynamic font size */
  margin: 50px auto 0 auto;  /* circle shortband */
  font-family: 'Sacramento', cursive;
}

/* CSS3 rem - root em */

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 30px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.middle {
  background-color: red;
  width: 200px;
  height: 200px;
}

.under {
  text-decoration: underline;
}
